.bodyDesktop ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
.bodyDesktop ::-webkit-scrollbar-track {
      background: #f2d15866;
      -moz-box-shadow:  0px  8px 5px #f2d15866;
      -webkit-box-shadow:  0px  8px 5px #f2d15866;
      filter: progid:DXImageTransform.Microsoft.Shadow(color='#f2d15866', Direction=135, Strength=10);
      box-shadow: 0px 8px 5px #f2d15866;
  }

  /* Handle */
.bodyDesktop ::-webkit-scrollbar-thumb {
    background: rgb(24 25 108);
  }

  /* Handle on hover */
.bodyDesktop ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.bodyDesktop {
      margin: 0px;
      max-height: calc(100% - 135px);
      padding-top: 80px;
  }
  /*
  word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    */

/* Inizio desktop*/

.bodyDesktop .menuButtonUnclicked:hover {
    width: 80%; 
    border: 0px; 
    height: 35px;
    border: 2px solid rgb(24 25 108);
    cursor: pointer;
    background-color: rgba(219, 186, 66, 0.4);
    color:rgb(24 25 108);
    font: 130% Arial, Helvetica, sans-serif, 'Arial Narrow Bold', monospace;
}
.menuButtonClicked {
  width: 80%; 
  border: 0px; 
  height: 35px;
  border: 2px solid rgb(24 25 108);
  cursor: pointer;
  background-color: rgb(219 186 66 / 64%) !important;
  color:rgb(24 25 108);
  font: 130% Arial, Helvetica, sans-serif, 'Arial Narrow Bold', monospace;
}
.menuButtonUnclicked {
  width: 80%; 
  border: 0px; 
  height: 35px;
  border: 2px solid rgb(24 25 108);
  cursor: pointer;
  background-color: rgba(242,209,88,0.4);
  color:rgb(24 25 108);
  font: 130% Arial, Helvetica, sans-serif, 'Arial Narrow Bold', monospace;
}

.listButtonClicked{
    color: #ead792;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    font-size: 25px;
}
.listButtonUnclicked{
  background-color: rgba(255, 255, 255, 0);
  color: rgb(24, 25, 108);
  border: 0px;
  font-size: 20px;
}

.listButtonUnclicked:hover{
  border: 0px;
  font-size: 25px;
}

  /* Fine desktop*/
/* Inizio smartphone */


  #page{
    width:100%; 
    height:100%;
    display: flex;
    justify-content: center;
    overflow: auto !important;
    margin-top: 20px;
    height: calc(90% - 150px);
    position: sticky;
    background-color: #ffffff00;
    /* margin-top: 20px; */
    top: 10%;
    z-index: 0;
}

#innerPage{
  width: 70%;
  margin-top: 10px;
}

/* Fine smartphone */
.font1Prova{
  font-family: Arial, Helvetica, sans-serif, 'Arial Narrow Bold';
}
.font2Prova{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font3Prova{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.openHideTable{
    transition: all 1s cubic-bezier(0.1, 0.84, 0.12, 0.98);
    max-height: 1000px;
    font-size: 20px;
}

.table{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.closeHideTable{
    transition: all 0.5s cubic-bezier(0.1, 0.84, 0.12, 0.98);
    font-size:  0px;
    max-height: 0px;
  }

.description{
  min-height: 250px;
  max-height: 250px;
  height: 250px; 
  overflow: auto;
}

.font{
  font-size: 20px;
}
//#f2d15875 : giallo
//rgb(28 72 255 / 69%) : azzurro pastello


