<!doctype html>
<html lang="en" style="height:100% !important">
<head>
  <meta charset="utf-8">
  <title>FVenturiAngular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="min-height: 100%;">
    <!--TODO Modificare l'header in base al device-->
    <header *ngIf="type == 'desktop'" id="hDesktop">
        <div id = "Title"> <!-- Impostare un background color-->
            <div id="LogoDesktop">
                <img src="assets/resources/logo-01.png" alt="LOGO" id="LogoStyleDesktop">
            </div>
        </div>
    </header>
    <header *ngIf="type == 'tablet'" id="hDesktop">
        <div id = "Title"> <!-- Impostare un background color-->
            <div id="LogoDesktop">
                <img src="assets/resources/logo-01.png" alt="LOGO" id="LogoStyleDesktop">
            </div>
        </div>
    </header>
    <header *ngIf="type == 'mobile'" id ="hMobile">
        <div id = "Title"> <!-- Impostare un background color-->
            <div id="LogoMobile">
                <img src="assets/resources/logo-01.png" alt="LOGO" id="LogoStyleMobile">
            </div>
        </div>
    </header>
    <app-desktop *ngIf="type == 'desktop'" id="desktop"></app-desktop>
    <app-desktop *ngIf="type == 'tablet'" id="desktop"></app-desktop>
    <app-smartphone *ngIf="type == 'mobile'" id = "mobile" ></app-smartphone>
    <footer>
        <div id="divFooter">
        </div>
    </footer>
</body>
</html>